html {
  font-size: 1rem;
}


.centralBox {
  width: 45%;
}

@media (max-width: 1754px) { 
  .centralBox {
    width: 60%;
  }
}

@media (max-width: 1326px) { 
  .centralBox {
    width: 70%;
  }
}

@media (max-width: 776px) { 
  .centralBox {
    width: 100%;
  }

  html {
    font-size: 0.5rem;
  }

  .display-2 {
    font-size: 4.7rem;
  }
}




h2 {font-family: 'Roboto', sans-serif;}
h3 {font-family: 'Roboto', sans-serif;
  color: #ffffff;}
h1 { font-family: 'Montserrat', sans-serif;}

.linkColor {
  color: #c6f4e8;
}

.display-2 {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
}


body{
  background-color: #c6f4e8;
}

p{font-family: 'Roboto';}
#cpr {color: #038c9f;
  text-align: center;
  vertical-align: middle;}
#footer {
  position: fixed;
  bottom: 0;
  /* Following styles let see the div to check it works */
  height: 75px;
  background-color:  #ffffff;
  width: 100%;
}

.feather-32{
            width: 40px;
            height: 40px;
}

.end{
  background-color: #c6f4e8; /* Blau fort */
  height: 100%;
}
.row {
  margin-right: 0px;
  margin-left: 0px;
}

.jumbotron {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  background-color: #038c9f;
  padding-top: 5%;
}

.align-middle {
  margin-top: 25%;
  margin-bottom: 25%;
}


.btn{
  margin-left: 5px;
  margin-right: 5px;
}

.btn.btn-outline-light:active:hover,
.btn.btn-outline-light:hover {
    border-color: #038c9f;
    background-color: #c6f4e8;
    color: #038c9f;
}
