
body {
    background: #C6F4E8;
    color: #038C9F;
    font-family: Roboto;
    font-style: normal;
}

a {
    color: #038C9F;
    text-decoration: none;
}

.left-a{
    left: 20%;
}

.right-a{
    left: 63%;
}

#title-text{
    position: absolute;
    width: 466px;
    height: 38px;
    top: 18%;

    font-weight: bold;
    font-size: 22px;
    line-height: 26px;

    color: #038C9F;
}

#main-text1{
    position: absolute;
    width: 496px;
    height: 80px;
    top: 25%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #038C9F;
}

#main-text2{
    position: absolute;
    width: 496px;
    height: 158px;
    top: 36%;

    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #038C9F;
}

.links{
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    list-style: none;
    padding-left:0;
}

#link2{
    position: absolute;
    width: 221px;
    height: 98px;
    top: 57%;
}

#link1{
    position: absolute;
    width: 190px;
    height: 27px;
    top: 18%;
}

.arr { 
    display: grid;
    grid-template-columns: 1fr 5fr;
}


.footer{
    position: absolute;
    /* this was generating a fake scroll horizontal */ 
    width: 99%; 
    height: 10%;
    bottom: 0;
    /* background: #038C9F; */
    text-align: center;
}
.location{
    position: relative;
    font-size: 20px;

}


@media screen and (max-width: 1200px) {
    .left-a{
        left: 10%;
    }
    .right-a{
        left: 75%;
    }
    
  }

  @media screen and (max-width: 800px) {
    #title-text{
        top: 5%;
    }
    #main-text1{
        top: 15%;
        font-size: 22px;
        width: 80%;
    }
    #main-text2{
        top: 30%;
        font-size: 22px;
        width: 80%;
    }
    .left-a{
        left: 10%;
    }
    .right-a{
        left: 10%;
    }

    #link1{
        top: 75%;
    }
    
  }

