{% extends "base.html" %}

  {% block content %}
  <div class="ml-50 mr-50 mt-20 mb-5">
  <h1 class="font-slab text-2xl text-greenfg h-10">
    {{ page.title }}
  </h1>
  <p class="subtitle"><strong>{{ page.date }}</strong></p>

  {{ page.content | safe }}

  <p class="text-greenfg text-center text-3xl mt-15 mr-5">
    <a href="{{ get_url(path='') }}">
      <i class="fa-solid fa-house"></i>
    </a>
    
    <a class="ml-5" href="{{ get_url(path='blog') }}">
      <i class="fa-solid fa-arrow-left"></i>
    </a>
  </p>

</div>

{% endblock content %}
