<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta property="og:title" content="Hi, it's David." />
    <meta property="og:description" content="Bioinformatician and science enthusiast." />
    <meta name="twitter:creator" content="@davidmasp" />
    <meta name="twitter:card" content="summary" />
    <meta property="og:image" content="https://david.masponte.com/files/twitter_landing_page.png" />
    <title>David Mas-Ponte</title>
    <meta name="description" content="Genomics. Find me at the major social sites with @davidmasp.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        @font-face {
            font-family: 'Roboto';
            src: url('assets/Roboto-Medium.ttf') format('truetype');
        }

        @font-face {
            font-family: 'RobotoSlab';
            src: url('assets/RobotoSlab-Medium.ttf') format('truetype');
        }
    </style>
    <script src="https://kit.fontawesome.com/1aa0c37d34.js" crossorigin="anonymous"></script>
    <link rel="icon" type="image/png" href="icon.png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-BB5VL08CT9"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-BB5VL08CT9');
    </script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        'roboto': ['Roboto', 'sans-serif'],
                        'slab': ['RobotoSlab', 'sans-serif'],
                    },
                    colors: {
                        greenfg: '#038C9F',
                        greenbg: '#C6F4E8',
                    }
                }
            }
        }
    </script>

<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="https://cdn.jsdelivr.net/npm/@observablehq/plot@0.6"></script>

<script type="module">
    // Load the CSV file using d3.csv
    d3.csv("sudoku.csv", d3.autoType).then(gistemp => {
    const plot1 = Plot.plot({
        marks: [
            Plot.ruleY([0], {stroke: "#038C9F"}), // is 0-based, 4->May
            Plot.ruleX([new Date(2024, 4, 25)], {stroke: "#038C9F"}),
            Plot.ruleY([600], {stroke: "#038C9F", strokeDasharray: "5,5"}),
            Plot.dot(gistemp, {x: "Date", y: "Time", stroke: "#038C9F"}),
            Plot.lineY(gistemp,
                      Plot.windowY(5, {x: "Date", y: "Time"}),
                      {stroke: "#038C9F"})
        ]
    });
    const div = document.querySelector("#myplot");
    div.append(plot1);
}).catch(error => {
    console.error("Error loading the CSV file:", error);
});
</script>
</head>

<body class="bg-greenbg font-roboto">
    {% block content %} {% endblock %}
</body>
</html>

<!-- Check this later! 

https://medium.com/@johnson.leon.t/d3-ds-part-3-542559b53d7f 

-->
