{% extends "d3base.html" %}

{% block content %}

<p class="mb-4 text-left text-lg text-greenfg md:text-center">
    Since the end of May, I have been doing the daily Sudoku from the NYT. I am tracking the time it takes me to solve the puzzles and hope to update this plot daily.
</p>
<p class="mb-4 text-left text-lg text-greenfg md:text-center">
    <b>Disclaimer:</b> I do them in the morning, uncaffeinated.
</p>
<div class="w-full h-screen">
    <div id="myplot"></div>
</div>

{% endblock content %}

